  body {
    width: 100%;
    background-color: #121212;
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;  
    min-height: 100vh;      
  }

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: 'Arial', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}